@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");
:root {
  --Very-Dark-Blue: hsl(230, 29%, 20%);
  --Dark-Grayish-Blue: hsl(230, 11%, 40%);
  --Grayish-Blue: hsl(231, 7%, 65%);
  --Light-Grayish-Blue: hsl(207, 33%, 95%);
  --Red: hsl(0, 100%, 68%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}

main {
  margin: 0 1.5em;
}
main header {
  width: 100%;
}
main header .overlay {
  height: 35%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  transition: 0.5s;
}
main header .overlay a {
  padding: 8px;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  color: black;
  display: block;
  transition: 0.3s;
  line-height: 1.5em;
}
main header .overlay a:hover {
  color: #818181;
}
main header .overlay a:focus {
  color: #818181;
}
main header .overlay .login {
  color: var(--Dark-Grayish-Blue);
}
main header .overlay .closebtn {
  font-size: 60px;
}
main header .overlay-content {
  position: relative;
  top: 5%;
  width: 100%;
  text-align: center;
  margin: 15px 0;
}
main header .overlay-content hr {
  width: 80%;
  text-align: center;
  margin: 0.5em 0 0.5em 25px;
}
main header .flex {
  display: flex;
  justify-content: space-between;
  margin: 2em 0;
}
main header .flex .navbar {
  display: none;
}
main header .flex .close-button {
  display: none;
}
main .bg-image {
  background-image: url(./images/illustration-devices.svg);
  width: 380px;
  height: 251px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
}
main .bg-image::before {
  content: "";
  background-color: var(--Light-Grayish-Blue);
  position: absolute;
  border-radius: 0 0 0 50px;
  height: 430px;
  top: -150px;
  bottom: 50px;
  width: 200px;
  right: 0;
  left: 180px;
  z-index: -2;
}
main .main-text {
  position: absolute;
  top: 400px;
}
main .main-text .new-btn {
  background-color: var(--Very-Dark-Blue);
  color: var(--Light-Grayish-Blue);
  border: none;
  border-radius: 40px;
  padding: 10px;
  font-weight: 700;
}
main .main-text .dashboard-txt {
  font-size: 12px;
  letter-spacing: 0.4em;
  margin-left: 0.4em;
  font-weight: 400;
  color: var(--Grayish-Blue);
}
main .main-text h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2em;
  margin: 0.5em 0;
  width: 80%;
}
main .main-text p {
  color: var(--Grayish-Blue);
  margin-bottom: 1em;
  width: 80%;
}
main .main-text .demo-btn {
  padding: 10px 12px;
  color: var(--Light-Grayish-Blue);
  background-color: var(--Red);
  border: none;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
}
main .main-text .demo-btn:hover {
  background-color: hsla(0, 100%, 68%, 0.5);
}
main .main-text .preview-txt {
  font-size: 10px;
  color: var(--Grayish-Blue);
  letter-spacing: 0.2em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: row-reverse;
  }
  main header .overlay {
    display: none;
  }
  main header .flex .icons {
    display: none;
  }
  main header .flex .navbar {
    display: block;
  }
  main header .flex .navbar a {
    color: var(--Very-Dark-Blue);
    font-weight: 700;
    text-decoration: none;
    margin-right: 60px;
  }
  main header .flex .navbar a:hover {
    text-decoration: underline;
  }
  main header .flex .login-desktop {
    color: var(--Grayish-Blue) !important;
  }
  main .main-section {
    margin-left: 5em;
  }
  main .main-section .bg-image {
    width: 750px;
    height: 500px;
    top: 150px;
  }
  main .main-section .bg-image::before {
    height: 100%;
    top: -272px;
    width: 800px;
    left: -50px;
  }
  main .main-section .main-text {
    top: 150px;
    width: 40%;
  }
  main .main-section .main-text .dashboard-txt {
    font-size: 16px;
  }
  main .main-section .main-text h1 {
    font-size: 4.5em;
  }
  main .main-section .main-text p {
    width: 40%;
  }
  main .main-section .main-text .demo-btn {
    padding: 18px;
    width: 30%;
  }
  main .main-section .main-text .preview-txt {
    font-size: 16px;
    margin-left: 1em;
  }
}/*# sourceMappingURL=style.css.map */